<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Secrets homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/logreg.css">
</head>
<style>
    #header{
        display:flex;
        justify-content:space-around;
    }
</style>
<body>
    <div id="header">
        <h1>Hello, <%=user.first_name%></h1>
        <h1>Dojo Secrets</h1>
    </div>
    <br>
    <a href="/logout" class='btn btn-primary pull-right'>Logout</a>
    <br>
    <h2>Create a secret</h2>
    <% if (messages.secret){ %>
        <% for (var x of messages.secret) { %>
            <p class='error'><%=x%></p>
        <% } %>
    <% } %>
    <form action="/secret" method="post">
        <label for="secret">Secret</label>
        <textarea style="width:50%"name="text" class="form-control" id="secret" cols="30" rows="5"></textarea>
        <input type="hidden" name="user" value="<%=user._id%>">
        <input type="submit" class="btn btn-success" value="Create secret">
    </form>
    <br><br>
    <% if (messages.deletesecret){ %>
        <% for (var x of messages.deletesecret) { %>
            <p class='success'><%=x%></p>
        <% } %>
    <% } %>
    <h2>Secrets</h2>
    <% if (secrets) { %>
        <% for (let secret in secrets){ %>
            <a href="/secrets/<%=secrets[secret]._id%>"><h4><%=secrets[secret].text%> -- <%=secrets[secret].user.first_name%></h4></a>
            <% if (secrets[secret].user._id == user.id) { %>
                <form action="/delete" method="post">
                    <input type="hidden" name="secret_id" value="<%=secrets[secret]._id%>">
                    <input type="submit" value="Delete secret" class="btn btn-danger">
                </form>
            <% } %>
            <br>
        <% } %>
    <% } else { %>
        <h2>No secrets yet</h2>
    <% } %>
</body>
</html>