<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Secret</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/logreg.css">
</head>
<body>
    <h2><%=secret.text%></h2>
    <h3>Poster: <%=secret.user.first_name%></h3>
    <% if (secret.comments.length > 0) { %>
        <% for (let comment of secret.comments){ %>
            <h6><%=comment.text%> -- <%=comment.poster%></h6>
        <% } %>
    <% } else { %>
        <h3>No comments yet</h3>
    <% } %>
    <br><br>
    <h3>Post comment</h3>
    <% if (messages.comment){ %>
        <% for (var x of messages.comment) { %>
            <p class='error'><%=x%></p>
        <% } %>
    <% } %>
    <form action="/comment" method="post">
        <label for="content">Text</label>
        <input type="text" name="text" id="content">
        <input type="hidden" name="secret" value="<%=secret._id%>">
        <input type="submit" value="Post comment">
    </form>
</body>
</html>